body {
  background-color: var(--mantine-color-gray-0);
  color: var(--mantine-color-black);
}
.mantine-AppShell-main{
  margin-top: -50px;
}

[data-mantine-color-scheme="dark"] body {
  background-image: url("/dark_bg_02.png");
  background-size: cover;
  backdrop-filter: blur(10px);
  color: white;
}
[data-mantine-color-scheme="light"] body {
  background-image: url("/bg_05.png");
  background-size: cover;
  backdrop-filter: blur(10px);

  background-position: center;
  /* background-color: #a8ecff; */
  /* color: white; */
}

.mantine-Autocomplete-input::placeholder {
  color: white;
  opacity: 0.5;
}

/* Light theme styles */
[data-mantine-color-scheme="light"] .mantine-Paper-root {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

[data-mantine-color-scheme="light"] .mantine-Button-root {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
}

[data-mantine-color-scheme="light"] .mantine-ActionIcon-root {
  background: rgba(255, 255, 255, 0.2);
  /* border-radius: 16px; */
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  /* backdrop-filter: blur(100px); */
  /* -webkit-backdrop-filter: blur(100px); */
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  color: white;
}

[data-mantine-color-scheme="light"] .mantine-Input-input {
  background: rgba(255, 255, 255, 0.2);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white !important;
}

[data-mantine-color-scheme="light"] .mantine-Input-section {
  color: white;
}

[data-mantine-color-scheme="light"] .mantine-Title-root {
  color: white;
}

[data-mantine-color-scheme="light"] .mantine-Text-root {
  color: white;
}

/* Dark theme styles */
[data-mantine-color-scheme="dark"] .mantine-Paper-root {
  background: rgba(42, 42, 42, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

[data-mantine-color-scheme="dark"] .mantine-Button-root {
  background: rgba(42, 42, 42, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

[data-mantine-color-scheme="dark"] .mantine-ActionIcon-root {
  background: rgba(42, 42, 42, 0.2);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

[data-mantine-color-scheme="dark"] .mantine-Input-input {
  background: rgba(42, 42, 42, 0.2);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
}
